<!DOCTYPE html>
<html>

    <head>

        <title>About</title>

        <link rel="icon" href="img/weather.png">

        <link rel="stylesheet" href="css/styles.css">

    </head>

    <body>
        <div class="main-content">

            {{>header}}

            <p>This site was created Reid Efford. Uses data from mapbox.com and dark sky.net</p>

            <img class="moon" src="/img/moon.jpg">

        </div>

        {{>footer}}

    </body>

</html>